.Document {
  & h1 {
    font-size: rem(24px);
    text-align: center;
  }

  & a[href^='http'] {
    display: flex;
    align-items: center;

    &::after {
      width: 16px;
      height: 16px;
      margin-left: rem(8px);
      content: url('~assets/images/map/icn-link.svg');
    }
  }

  & section {
    font-size: rem(14px);

    & h2 {
      margin-top: rem(40px);
      font-size: rem(18px);
    }

    & h3 {
      margin-top: rem(24px);
      font-size: rem(16px);
    }

    & h2 + p,
    & h3 + p {
      margin-top: rem(12px)
    }

    & p {
      margin-top: rem(24px);
    }

    & ul, & ol {
      margin-top: rem(24px);
      list-style: inside;

      & > li {
        padding-left: 1em;
        margin-top: rem(8px);
        text-indent: -1em;

        & a {
          margin-left: -.5em;
        }
      }
    }

    & dl {
      margin-top: rem(24px);
      list-style: inside;

      & dt {
        font-weight: bold;

        & ::before {
          content: '\0226b';
        }
      }

      & dd {
        padding-left: rem(16px);

        & + dt,
        & + dd {
          padding-top: rem(16px);
        }
      }

      & ol {
        margin-top: 0;
      }
    }

    & ul {
      list-style-type: disc;
    }

    & ol {
      list-style-type: decimal;
    }

    & address {
      padding: rem(24px);
      margin-top: rem(40px);
      text-align: center;
      background-color: var(--colorLGray);

      & > span {
        display: block;
        font-weight: bold;
      }

      & a {
        justify-content: center;
        margin-top: rem(8px);
      }
    }
  }
}

@media (--md) {
  .Document {
    padding-top: rem(40px);
    padding-right: rem(10px);
    padding-left: rem(10px);
  }
}