.HambergarMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(44px);
  height: rem(40px);
  color: #fff;
  text-align: center;
  cursor: pointer;
  background-color: var(--colorSpecifed1);

  & .HambergarMenu__button {
    position: relative;
    display: block;
    width: rem(20px);
    height: rem(15px);
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
    background-color: transparent;
    border: none;
    appearance: none;

    &::before,
    &::after {
      position: absolute;
      left: 0;
      width: 100%;
      content: '';
      border-top: 1px solid #fff;
      transition: transform 0.25s ease-out;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    & > span {
      position: absolute; 
      left: 0;
      z-index: 2;
      width: 100%;
      border-top: 1px solid #fff;
      transition: opacity 0.25s ease-out;
      transform: translateY(-50%);
    }
  }

  & .HambergarMenu__label {
    margin-top: rem(4px);
    font-size: rem(10px);
    line-height: 1;
    transform: scale(0.9);
  } 
}

.HambergarMenu.-open {
  & .HambergarMenu__button {
    &::before {
      transform: translateY(rem(8px)) rotate(-45deg);
    }

    &::after {
      transform: translateY(rem(-6px)) rotate(45deg);
    }

    & > span {
      opacity: 0;
    }
  }
}

