.MapIndexCities {
  margin-top: rem(56px);

  & dl {
    line-height: 1;

    & + dl {
      margin-top: rem(4px);
    }
  }

  & dt {
    padding: rem(16px);
    font-size: rem(20px);
    font-weight: bold;
    text-align: center;
    background-color: var(--colorYellow);
  }

  & dd {
    display: flex;
    flex-wrap: wrap;
    margin-left: rem(-4px);
  }

  & dd > span {
    flex-basis: calc(50% - rem(4px));
    margin-top: rem(4px);
    margin-left: rem(4px);
    background-color: var(--colorLGray);
    transition: background-color 0.25s ease-out;
  }

  & dd > span:hover {
    background-color: var(--colorLYellow);
  }

  & dd > span > a {
    display: block;
    padding: rem(16px) rem(40px);
    text-decoration: none;
  }

  & dd > span > a::before {
    content: '\0226b';
  }
}

@media (--md) {
  .MapIndexCities {
    padding-right: rem(10px);
    padding-left: rem(10px);
    margin-top: rem(40px);

    & dt {
      font-size: rem(18px);
    }

    & dd {
      display: block;
      margin-left: 0;
    }

    & dd > span {
      display: block;
      margin-top: rem(4px);
      margin-left: 0;
    }

    & dd > span > a {
      padding: rem(16px) rem(20px);
    }
  }
}