.LinkBlock {
  margin-top: rem(56px);

  & p {
    margin-top: rem(8px);
    font-size: rem(14px);
    line-height: 2;
  }

  & + .LinkBlock {
    margin-top: rem(72px);
  }

  & .LinkBlock__title {
    padding-bottom: rem(8px);
    font-size: rem(20px);
    line-height: 1.6;
    border-bottom: solid 4px var(--colorYellow);

    &::before {
      content: '\0226b';
    }

    & > a {
      text-decoration: none;
    }

    & a > span {
      display: block;
      padding-left: 1rem;
      margin-top: rem(8px);
      font-size: rem(14px);
    }
  }

  & .LinkSubBlockWrap {
    display: flex;
    flex-wrap: wrap;
  }

  & .LinkSubBlock {
    flex-basis: 50%;
    margin-top: rem(56px);

    & > a {
      padding-top: rem(4px);
      font-size: rem(14px);
    }

    & > a::before {
      content: '\0226b';
    }
  }

  & .LinkSubBlock__title {
    padding-left: rem(8px);
    line-height: 1.6;
    border-left: 6px solid var(--colorYellow);
  }
}

@media (--md) {
  .LinkBlock {
    padding-right: rem(10px);
    padding-left: rem(10px);
    margin-top: rem(48px);

    & p {
      margin-top: rem(8px);
      font-size: rem(14px);
      line-height: 2;
    }

    & + .LinkBlock {
    }

    & .LinkBlock__title {
      padding-left: 1em;
      text-indent: -1em;

      & a > span {
        display: inline;
        padding-left: 0;
        margin-top: 0;
      }
    }

    & .LinkSubBlockWrap {
      display: block;
    }
  }
}